#Name{
    background-color: blue;
}
h1{
    text-align: center;
    color: blueviolet;
}
img{
    width: 18rem;
    height: 2orem;
    border-radius: 50%;
    border-color: brown;
    float: center;
    flex-direction: column;
}
h2{
    color: brown;
}
ul li{
    color: green;
}
#About me{
    background-color: indigo;
}