#Name{
    color: blueviolet;
    text-align: center;
    background-color: rgb(75, 11, 11);
}
h1{
    background-color: gray;
}
img{
    width: 20rem;
    height: 15rem;
    border: 5rem;
    padding: 12rem;z 
    float: right;
    flex: right;
}
.interest{
    color: green;background-color: cadetblue;
    font-size: 12;
    border: 3px;
    margin: 2px;
    padding: 3px;
}
.Projects{
    background-color: rgb(7, 13, 66);
}
h2{
    font-style: italic;
    color: darkgreen;
}
h4{
    background-color: brown;
}
ul li{
    font-style: inherit;
    color: brown;
}
#Aboutme{
    background-color: darkslategrey;
    color: indigo;
    border: 4;
    margin: 3;
    padding: 3;
}
ol li{
    background-color: darkcyan;
}
body{
    background-color: black;
}
.interest{
    columns: 2;
}
.important{
    color: rgb(4, 4, 20);
}
.degree{
    color: darkred;
}
.value{
    color: black;
}